* {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

h1 {
    color: red;
    background-color: black;
}

h2 {
    color: blue;
    background-color: yellow;
}

#title {
    color: green;
    background-color: white;
}

#paragraph {
    color: purple;
    background-color: orange;
    text-align: end;
}